<% if @user == current_user %>
    <%= @user.email %><br/>
    <%= link_to "Modifier mes infos", edit_user_registration_path %><br/>
    <p>PokeDollars : <%= @user.balance %></p>
    <%= button_to "Acheter des PokeDollars", user_path(@user.id), method: "put", remote: true %>
<% end %>
<%= @user.name %>

<div>
<% @user.pokemons.each do |pokemon| %>
    <li>
    <%= link_to pokemon.name, pokemon_path(pokemon.id) %>
    </li>
<% end %>
</div>

<div>
<% @transactions.each_with_index do |transaction, index| %>
    <li>
        <p>Transaction <%=index + 1%> : <%= transaction.motif %> de <%= link_to transaction.pokemon.name, pokemon_path(transaction.pokemon.id)%></p>
    </li>
<% end %>
</div>