<% if @user == current_user %>
    <%= @user.email %><br/>
    <%= link_to "Modifier mes infos", edit_user_registration_path %><br/>
    <p>Thune : <%= @user.balance %></p>
    <%= button_to "Acheter de la thune", user_path(@user.id), method: "put", remote: true %>
<% end %>
<%= @user.name %>

<div>
<% @user.pokemons.each do |pokemon| %>
    <li>
    <%= link_to pokemon.name, pokemon_path(pokemon.id) %>
    </li>
<% end %>
</div>