<%= image_tag @pokemon.image %>
<%= @pokemon.name %>
<p>Poids: <%= @pokemon.weigth %></p>
<p>Taille:<%= @pokemon.height %></p>
<p>Prix: <%= @pokemon.price %></p>
<%= link_to "Voir le proprietaire", user_path(@pokemon.user.id) %>